@import "tailwindcss";

.nav-bar {
  width: 100%;
  height: 10vh;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20vw;
  transition: 1s;
  z-index: 100;
  top: 0;
  position: fixed;
}

/* Nav bar color changes */
.home-active {
  background-color: rgb(198, 197, 197);
}

.projects-active {
  background-color: rgb(87, 8, 212);
}

.exp-active {
  background-color: rgb(13, 3, 85);
}

.nav-item {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  height: 100%;
  display: flex;
  align-items: center;
  font-style: normal;
  font-size: 200%;
  color: white;
  transition: 1s;
  padding-left: 20px;
  padding-right: 20px;
}

/*animation to wiggle */
@keyframes wiggle {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(2deg);}
  50% {transform: rotate(0deg);}
  75% {transform: rotate(-2deg);}
  100% {transform: rotate(0deg);}
}

.linkName {
  display: inline-block;
  font-size: 8vh;
}

.linkName:hover {
  animation: wiggle 0.3s ease-in-out infinite;
}

/*Home being the active tab */

.home-active-home {
  color: rgb(182, 15, 182);
}

.home-active-projects {
  color: rgb(145, 145, 145);
}

.home-active-exp {
  color: rgb(145, 145, 145);
}

/*Projects being the active tab */

.projects-active-home {
  color: rgb(0, 0, 0);
}

.projects-active-projects {
  color: rgb(255, 255, 255);
}

.projects-active-exp {
  color: rgb(0, 0, 0);
}

/*Exp being the active tab */

.exp-active-home {
  color: rgb(13, 103, 133);
}

.exp-active-projects {
  color: rgb(13, 103, 133);
}

.exp-active-exp {
  color: rgb(11, 227, 19);
}

.wrapper{
  width: 100vw;
  height: 90vh;
  margin-top: 10dvh;
}

.section {
  width: 100%;
  height: 100%; 
  position: relative; 
  display: flex;
}

::-webkit-scrollbar {
  display: none;
}

.aboutContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.textWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
}

.name{
  font-size: 15vh;
  font-family: "Pirata One", system-ui;
  position: relative;
  left: -10vh;
  margin-top: 15vh;
}

.introduction {
  font-size: 40px;
  font-family: "Special Gothic Condensed One", sans-serif;
  position: relative;
  top: 8vh
}

.fade-enter-active, .fade-leave-active {
  transition: all 0.8s ease;
}

.fade-enter-to, .fade-leave-from {
  opacity: 1;
}

.fade-enter-from {
  opacity: 0;
}

.fade-enter-to {
  opacity: 1;
}

.fade-leave-from {
  opacity: 1;
}

.fade-leave-to {
  opacity: 0;
}

.potraitWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: right;
  width: 100%;
  height: 100%;
}

.potrait {
  height:auto;
  width: 80%;
}

.backgroundImg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.socialBox {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-top: 7vh;
}

.socialsIcon {
  width: 100%;
  height: 10vh;
}
